@media screen and (min-width: 481px) { 
main {
  display: flex;
}

body {
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:14px;
}
.tategaki-wrap{
  left: 0;
}
.tategaki{
  writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  position: fixed;
}
p{
  display: block;
  margin: auto;
  text-align: center;
  font-size: large;
}
a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
ul,li {
  padding: 0;
  margin: 0;
  text-align: center;
}

header {
  height: 50px;
  padding:10px 0;
  display: flex;
  background-color: fuchsia;
}

.heading {
  width: 50%;
  margin-left: 30px;
}

.myname {
  width: 50%;
  height:50px;
  margin-left: 30px;

}

.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li{
  list-style: none;
}

main{
  padding:5vw 10vw;
  background-color: #33CCFF;
}

.content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.l-box{
  height: 28vw;
  width: 35vw;
  margin-bottom: 5vw;
  background-color: white;
  border-radius: 15px;
}


.footer{
  height:25vh;
  width:100%;
}
.footer-top{
  height:8vh;
  width: 100%;
  background-color: yellow;
}
.footer-menu{
  height: 17vh;
  width: 100%;
  background-color: yellow;
}
.unity_image {
  height: 70%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.commin_image {
  height:70%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.myname {
  height:70%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  margin-left: 0;
}

.s-box {
  text-align: center;
}
}